

body {
    background-color: rgb(0, 0, 0);
}

.tiki {
    color: rgb(120, 122, 160);
    font-size: 80px;
}

.taka {
    color: rgb(120, 122, 160);
    font-size: 35px;
}

img {
    width: 50%;
}

.GOLOL  {
    font-size: 60px;
    font-family: fantasy;
    color:rgb(120, 122, 70);
}

.GOLOL:hover  {
    color:rgb(70, 122, 106);
}

.colbeel {
    width: 25%;
}

